<ion-tabs>

  <ion-tab-bar slot="top">
    
    <ion-tab-button tab="">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Nous</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1/2">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-img src='../../assets/logo.png' id="logoMenu"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="carte-modal">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>Panier</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="compte-user">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
